# Source me

UDGER_DATAFILE_NAME[0]="anonymizing_vpn_service.csv"
UDGER_DATAFILE_NAME[1]="public_cgi_proxy.csv"
UDGER_DATAFILE_NAME[2]="public_web_proxy.csv"
UDGER_DATAFILE_NAME[3]="tor_exit_node.csv"
UDGER_DATAFILE_NAME[4]="known_attack_source.csv"
UDGER_DATAFILE_NAME[5]="known_attack_source_mail.csv"
UDGER_DATAFILE_NAME[6]="known_attack_source_ssh.csv"
UDGER_DATAFILE_NAME[7]="fake_crawler.csv"
UDGER_DATAFILE_NAME[8]="web_scraper.csv"
UDGER_DATAFILE_NAME[9]="botIP-Googlebot.csv"
UDGER_DATAFILE_NAME[10]="botIP-MSN-Bing.csv"
UDGER_DATAFILE_NAME[11]="botIP-Baiduspider.csv"
UDGER_DATAFILE_NAME[12]="botIP-Yandex.csv"
UDGER_DATAFILE_NAME[13]="botIP-Yahoo.csv"
UDGER_DATAFILE_NAME[14]="botIP.csv"
UDGER_DATAFILE_NAME[15]="datacenter.csv"
UDGER_DATAFILE_NAME[16]="datacenter6.csv"
UDGER_DATAFILE_NAME[17]="ico_ua.zip"
UDGER_DATAFILE_NAME[18]="ico_os.zip"
UDGER_DATAFILE_NAME[19]="ico_device.zip"
UDGER_DATAFILE_NAME[20]="ico_brand.zip"
